version: '3'
services:
  dynamodb:
    image: peopleperhour/dynamodb
    ports:
      - "8000:8000"
  backend:
    # build: 'https://luislhl:10430324dbfe961f9539fbaeb8662723f69caf34@github.com/luislhl/desafio_vtex_back.git#dockerize'
    build: '../back-end'
    ports:
      - "4000:4000"
    links:
      - dynamodb
    environment:
      DYNAMODB_REGION: 'us-east-1'
      DYNAMODB_ADDRESS: 'http://dynamodb:8000'
      DYNAMODB_NOTES_TABLE: 'Notes'
      AWS_ACCESS_KEY_ID: 'FakeAccessKeyId'
      AWS_SECRET_ACCESS_KEY: 'FakeSecretAccessKey'
  frontend:
    # build: 'https://luislhl:10430324dbfe961f9539fbaeb8662723f69caf34@github.com/luislhl/desafio_vtex_front.git#dockerize'
    build: '../front-end'
    ports:
      - "3000:3000"
    links:
      - backend
    environment:
      REACT_APP_GRAPHQL_API: 'http://backend:4000/graphql'
  tests:
    build: .
    links:
      - frontend
      - dynamodb
    environment:
      FRONTEND_URL: 'http://frontend:3000'
      DYNAMODB_REGION: 'us-east-1'
      DYNAMODB_ADDRESS: 'http://dynamodb:8000'
      DYNAMODB_NOTES_TABLE: 'Notes'
      AWS_ACCESS_KEY_ID: 'FakeAccessKeyId'
      AWS_SECRET_ACCESS_KEY: 'FakeSecretAccessKey'
