version: 2

jobs:
  build:
    docker:
      # the Docker image with Cypress dependencies
      - image: cypress/base:8
        environment:
          ## this enables colors in the output
          TERM: xterm
    working_directory: ~/app
    steps:
      - checkout

      - run:
          name: Install Docker
          command: |
            curl -fsSL get.docker.com -o get-docker.sh
            sh get-docker.sh

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.21.0/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
            chmod +x /usr/local/bin/docker-compose

      - setup_remote_docker:
          docker_layer_caching: true

      - restore_cache:
          keys:
            - v1-npm-deps-{{ checksum "package.json" }}
            - v1-npm-deps
      - run: yarn
      - save_cache:
          key: v1-npm-deps-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: docker-compose build
      - run: docker-compose run tests

      # build and publish docker image
      - run: |
          TAG=$CIRCLE_BUILD_NUM
          docker build -t luislhl/simplenote-e2e-tests:$TAG .

          echo $DOCKER_PASS > ~/docker_pass.txt
          cat ~/docker_pass.txt | docker login -u $DOCKER_USER --password-stdin

          docker push luislhl/simplenote-e2e-tests:$TAG
          if [ "$CIRCLE_BRANCH" == "master" ]; then
            docker tag luislhl/simplenote-e2e-tests:$TAG luislhl/simplenote-e2e-tests:latest
            docker push luislhl/simplenote-e2e-tests:latest
          fi
